<div class="d-flex justify-content-center align-items-center min-vh-100 bg-body-tertiary">
  <div class="w-100 m-auto user-form border p-4">
    <h2>Sign up</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-floating mb-2">
          <%= f.email_field :email, class: "form-control", autocomplete: "email", placeholder: "email" %>
          <%= f.label :email %>
        </div>

        <div class="form-floating mb-2">
          <%= f.password_field :password, class: "form-control", autocomplete: "new-password", placeholder: "password" %>
          <%= f.label :password %>
          <% if @minimum_password_length %>
            <div class="form-text"><%= @minimum_password_length %> characters minimum</div>
          <% end %>
        </div>

        <div class="form-floating mb-2">
          <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password", placeholder: "" %>
          <%= f.label :password_confirmation, "Confirm Password" %>
        </div>

        <div class="my-3">
          <%= f.submit "Sign up", class: "btn btn-primary w-100" %>
        </div>
      <% end %>

      <div class="my-3">
        <p class="mb-1">Already have an account?</p>
        <%= render "devise/shared/links" %>
      </div>

  </div>
</div>